#! /usr/bin/env python

PACKAGE='openni2_camera'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("laser_power", int_t, 0, "laser power", 100, 0, 100);

gen.add("auto_exposure", bool_t, 0, "Auto-Exposure", True)
gen.add("auto_white_balance", bool_t, 0, "Auto-White-Balance", True)

gen.add("rgb_analog_gain", int_t, 0, "rgb camera analog gain", 100, 0, 100);
gen.add("rgb_r_gain", int_t, 0, "rgb camera r gain", 100, 0, 100);
gen.add("rgb_g_gain", int_t, 0, "rgb camera g gain", 100, 0, 100);
gen.add("rgb_b_gain", int_t, 0, "rgb camera b gain", 100, 0, 100);
gen.add("rgb_exposure_time", int_t, 0, "rgb camera exposure time", 100, 0, 100);

gen.add("ir_gain", int_t, 0, "ir camera gain", 100, 0, 100);
gen.add("depth_registration", bool_t, 0, "Map depth data to color coordinate", False)
gen.add("data_skip",  int_t, 0, "Skip N images for every image published (rgb/depth/depth_registered/ir)", 0, 0, 20)
gen.add("z_scaling", int_t, 0, "Scaling factor for depth values", 1, 1, 32)
gen.add("use_device_time", bool_t, 0, "Use internal timer of OpenNI device", True)

exit(gen.generate(PACKAGE, "OpenNI2", "OpenNI2"))
  
